@import "mixin/variables";
@import "mixin/normalize";
@import "mixin/clearfix";
@import "mixin/font-face";
@import "mixin/button";
@import "mixin/modal";
@import "mixin/mixin";
@import "mixin/header";
@import "mixin/navbar";
@import "mixin/breadcrumb";
@import "mixin/service";
@import "mixin/productList";
@import "mixin/footer";

#main {
    width: 1180px;
    margin: 20px auto 0;
    border: 1px solid #CCC;
    padding: 19px 0;
    .location {
        text-align: left;
        color: #777;
        font-size: 0.875em;
        padding: 0 20px 20px;
        a {
            color: #777
        }
    }
    h1 {
        text-align: center;
        margin: 0 auto 20px 0;
        padding: 0 19px;
        font-size: 3em;
    }
    h2 {
        text-align: left;
        margin: 20px 0;
        background-color: #ECECEC;
        padding: 0 19px
    }
    ul {
        list-style-type: none;
        padding:0;
        margin: 0;
        li {
            float: left;
            width: 25%;
            text-align: center;
            height: 150px;
        }
    }
    .update {
        margin: 20px 0;
        font-size: 24px;
        color: #c00;
        font-weight: bold;
        text-align: center
    }
}

@include minWidth(1180px) {
    #main {
        width: 1180px
    }
}

@include maxWidth(1180px) {
    #main {
        width: 940px
    }
}
