@import "mixin/variables";
@import "mixin/normalize";
@import "mixin/clearfix";
@import "mixin/button";
@import "mixin/modal";
@import "mixin/mixin";
@import "mixin/header";
@import "mixin/navbar";
@import "mixin/breadcrumb";
@import "mixin/service";
@import "mixin/productList";
@import "mixin/footer";
#main {
    width: 1180px;
    margin: 20px auto;
    border: 1px solid #CCC;
    overflow: hidden;
    padding: 19px 0;
    text-align: center;
    .location {
        text-align: left;
        color: #777;
        font-size: 0.875em;
        padding: 0 20px 20px;
        a {
            color: #777
        }
    }

    li{
      text-align: left;
      list-style-type: none
    }
}


h1 {
    background: url(../images/companyTitle.png) left top no-repeat;
    width: 940px;
    margin: 30px auto 0;
    height: 96px;
    text-indent: -10000px
}

.body {
    width: 900px;
    margin: 30px auto 0;
    height: 405px;
    p {
        margin-bottom: 10px
    }
    a {
        display: inline
    }
}

.bd_lt_1 {
    width: 116px;
    float: left;
    height: 300px
}

.bd_lt_2 {
    width: 294px;
    float: left
}

.bd_lt_2 img {
    margin-bottom: 8px
}

.bd_rt_1 {
    width: 294px;
    float: left;
    margin: 0 0 0 60px
}

.bd_rt_2 {
    width: 126px;
    height: 375px;
    float: right;
    background: url(../images/douhou_right.png) bottom right no-repeat
}

#power {
    width: 900px;
    margin: 20px auto 0;
    h2 {
        font-size: 30px;
        margin: 5px auto 40px;
        text-align: center
    }
    ul {
        width: 400px;
        padding: 0;
        display: inline-block
    }
    li {
       
        overflow: hidden;
        h3 {
            height: 20px;            
            padding: 7px 40px 6px;
            font-size: 18px;
            font-weight: lighter
        }
    }
    a {
        display: inline;
        color: #C00
    }
    p {
        padding: 15px 0 15px
    }
    ul.lt_power {
        float: left;
        margin: 0 0 0 20px
    }
}

.lt_pw_1 h3 {
    background: url(../images/shili.png) left top no-repeat
}

.lt_pw_2 h3 {
    background: url(../images/pinpan.png) left top no-repeat
}

.lt_pw_3 h3 {
    background: url(../images/successor.png) left top no-repeat
}

.lt_pw_4 h3 {
    background: url(../images/culture.png) left top no-repeat
}

.rt_pw_1 h3 {
    background: url(../images/humanresource.png) left top no-repeat
}

.rt_pw_2 h3 {
    background: url(../images/prof.png) left top no-repeat
}

.rt_pw_3 h3 {
    background: url(../images/sellafter.png) left top no-repeat
}

@include minWidth(1180px) {
    #main {
        width: 1180px
    }
}

@include maxWidth(1180px) {
    #main {
        width: 940px
    }
}