@import "mixin/variables";
@import "mixin/normalize";
@import "mixin/clearfix";
@import "mixin/font-face";
@import "mixin/icon-tab";
@import "mixin/button";
@import "mixin/modal";
@import "mixin/mixin";
@import "mixin/header";
@import "mixin/navbar";
@import "mixin/breadcrumb";
@import "mixin/service";
@import "mixin/productList";
@import "mixin/footer";

#main {
  width: 100%;
  margin: 20px auto 0;
  border: 1px solid #CCC;
  padding: 19px 0
}

#main .location {
  text-align: left;
  color: #777;
  font-size: 0.875em;
  padding: 0 20px 20px
}

#main .location a {
  color: #777
}

#main h1 {
  text-align: center;
  margin: 0 auto 20px 0;
  padding: 0 19px;
  font-size:3em;
}

#main h2 {
  text-align: left;
  margin: 20px 0;
  background-color: #ECECEC;
  padding: 0 19px
}

#main ol {
  padding: 0 19px
}

#main ol li {
  text-align: left;
  line-height: 25px;
  width: 200px;
  float: left;
  list-style: circle inside
}

#main ol li a {
  color: #C00
}

#main ul li {
  float: left;
  width: 25%;
  text-align: center;
  height: 125px
}

#main .update {
  margin: 20px 0;
  font-size: 24px;
  color: #c00;
  font-weight: bold;
  text-align: center
}

@include minWidth(1180px) {
  #main {
    width: 1180px
  }
}

@include maxWidth(1180px) {
  #main {
    width: 940px
  }
}
