@import "mixin/variables";
@import "mixin/normalize";
@import "mixin/clearfix";
@import "mixin/font-face";
@import "mixin/icon-tab";
@import "mixin/button";
@import "mixin/modal";
@import "mixin/mixin";
@import "mixin/header";
@import "mixin/navbar";
@import "mixin/breadcrumb";
@import "mixin/service";
@import "mixin/productList";
@import "mixin/footer";

#main {
  width: 100%;
  margin: 20px auto 0;
  border: 1px solid #CCC;
  padding: 19px 0
}

#main h1 {
  margin: 20px auto 30px 0;
  text-align: center;
  font-size: 2.5em;
  padding: 0 20px
}

#main ol li {
  text-align: left;
  line-height: 25px;
  width: 200px;
  list-style: circle inside;
  float: left
}

#main ol li a {
  color: #C00
}

#main table {
  border-collapse: collapse;
  margin: 0 auto;
  line-height: 30px;
  width: 100%
}

#main table th {
  text-align: center
}

#main table td {
  padding: 0 10px 0 10px;
  text-align: center;
  height: 180px;
  line-height: 24px
}

#main ul {
  margin: 0 20px
}

#main ul li {
  float: left;
  width: 25%;
  height: 160px;
  padding: 25px 0 15px;
  text-align: center;
  border-top: 1px solid #CCC
}

#case ul {
  padding: 0 20px
}

#case ul li {
  width: 25%;
  float: left;
  text-align: center
}

#case ul li a {
  display: block
}

#case ul li a.tlt {
  height: 48px
}

#case ul li p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 30px 0
}

#case ul li.precentWidth {
  width: 900px
}

@include minWidth(1180px) {
  #main {
    width: 1180px
  }
}

@include maxWidth(1180px) {
  #main {
    width: 940px
  }
}
