@import "mixin/variables";
@import "mixin/normalize";
@import "mixin/clearfix";
@import "mixin/font-face";
@import "mixin/button";
@import "mixin/modal";
@import "mixin/mixin";
@import "mixin/header";
@import "mixin/navbar";
@import "mixin/breadcrumb";
@import "mixin/service";
@import "mixin/productList";
@import "mixin/footer";

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    width: $fullScreenWidth;
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.container ul,
.container li {
    list-style-type: none;
}

.container a {
    color: #555
}

.secondPage,
.fifthPage,
.seventhPage {
    background-color: #F2F2F2;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6
}

.fifthPage {
    padding: 50px 0 280px;
    background: url(../condensate-cecovery/images/Staff.png) bottom center no-repeat #EFEFEF
}

.fourthPage {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 698px;
    display: block;
    position: relative;
    .btn {
        position: absolute;
        top: 250px;
        left: 50%;
        margin-left: -100px;
        border-color: #ffffff;
        color: #ffffff;
        &:hover {
            border-color: #496d02;
        }
        .fa {
            color: #ffffff
        }
    }
}

h1,
h2 {
    margin: 0.3em 0;
    width: $fullScreenWidth;
    font-family: $fzltxhk;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em
}

.adswords {
    margin: 0 auto;
    padding: 0 0 30px;
    width: $fullScreenWidth;
    line-height: 45px;
    font-size: 1.8em;
    font-family: $fzltxhk;
    text-align: center;
}

.more {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 20px
}

.mainProduct {
    width: $fullScreenWidth;
    margin: 0 auto;
}

.mainProduct li {
    float: left;
    width: 25%;
    text-align: center
}

.mainProduct li a {
    margin: 10px auto;
}

#turnPage {
    position: absolute;
    left: 50%;
    top: 490px;
    margin-left: -35px;
    cursor: pointer;
}

.assitProduct {
    width: $fullScreenWidth;
    margin: 0 auto;
    padding: 30px 0 0
}

.assitProduct li {
    float: left;
    width: 14%;
    text-align: center
}

.assitProduct li a {
    display: block;
    padding: 5px 0;
    color: #555
}

.assitProduct li img {
    border: 0
}

.case {
    margin: 20px auto;
    width: $fullScreenWidth;
    li {
        float: left;
        width: 20%;
        height: 150px;
        display: block;
        text-align: center;
        a {
            position: relative;
            padding: 2px;
            margin: 0 auto;
            border: 1px solid #cccccc;
            display: inline-block;
            color: #fff;
            width: 179px;
            height: 120px;
            overflow: hidden;
            text-align: center;
            span {
                width: 100%;
                display: block;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0);
                filter: alpha(opacity=0);
                position: absolute;
                bottom: 0;
                background-color: #000;
                text-align: center;
            }
            &:hover {
                span {
                    opacity: 0.8;
                    background-color: rgba(0, 0, 0, .8);
                    filter: alpha(opacity=80);
                }
            }
            img {
                border: 1px solid #ffffff
            }
        }
    }
}

.copartner {
    margin: 0 auto;
    width: $fullScreenWidth;
    height: 512px;
    display: block;
    background: url(../condensate-cecovery/images/corp_logo.jpg) center center no-repeat;
}

.Office {
    margin: 0 auto;
    width: $fullScreenWidth
}

.live {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 6000px;
    height: 698px;
    overflow: hidden;
    display: block;
    background-color: red;
    li {
        float: left;
    }
}

@include minWidth($maxWidth) {
    .container {
        width: $fullScreenWidth;
    }
    .container ul {
        width: $maxWidth;
    }
    .fourthPage {
        width: $fullScreenWidth;
    }
}

@include maxWidth($minWidth) {
    .container {
        width: $minWidth;
    }
    .container ul {
        width: $minWidth;
    }
    .fourthPage {
        width: $maxWidth;
    }
}
