@import "mixin/variables";
@import "mixin/normalize";
@import "mixin/clearfix";
@import "mixin/font-face";
@import "mixin/button";
@import "mixin/modal";
@import "mixin/mixin";
@import "mixin/header";
@import "mixin/navbar";
@import "mixin/breadcrumb";
@import "mixin/service";
@import "mixin/productList";
@import "mixin/footer";
body {
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    width: $fullScreenWidth;
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.container ul,
.container li {
    list-style-type: none;
}

.container a {
    color: #555
}

.secondPage,
.fifthPage,
.seventhPage {
    background-color: #F2F2F2;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6
}

.firstPage {
    ul {
        height: 373px;
        li {
            position: relative;
            height: 373px;
            top: 400px;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
}

.secondPage {
    ul {
        position: relative;
        top: 300px;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.fourthPage {
    margin: 0 auto;
    padding: 100px 0;
    width: 100%;
    background-color: #282828;
    text-align: center;
    .liveWap {
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: 760px;
        height: 350px;
        overflow: hidden;
        display: block;
        ul {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 2280px;
            height: 350px;
        }
        li {
            margin: 0;
            padding: 0;
            width: 760px;
            float: left;
        }
    }
    #liveCtrl {
        margin: 10px auto 0;
        width: 100px;
        display: block;
        padding: 0;
        li {
            float: left;
            width: 30px;
            height: 6px;
            margin: 0 5px;
            background-color: #555555;
        }
    }
}

.fifthPage {
    padding: 50px 0 280px;
    background: url(../condensate-cecovery/images/Staff.png) bottom center no-repeat #EFEFEF
}

.seventhPage {
    ul {
        height: 373px;
        li {
            position: relative;
            height: 373px;
            top: 400px;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
}

h1,
h2 {
    margin: 0.3em 0;
    width: $fullScreenWidth;
    font-family: $fzltxhk;
    font-weight: normal;
    text-align: center;
    color: $headingFontColor
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em
}

.adswords {
    margin: 0 auto;
    padding: 0 0 30px;
    width: $fullScreenWidth;
    line-height: 45px;
    font-size: 1.4em;
    font-family: $globalFontFamily;
    text-align: center;
    color: $adWordsColor;
}

.more {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 20px
}

.mainProduct {
    width: $fullScreenWidth;
    margin: 0 auto;
}

.mainProduct li {
    float: left;
    width: 25%;
    text-align: center;
}

.mainProduct li a {
    margin: 10px auto;
}

#turnPage {
    position: absolute;
    left: 50%;
    top: 490px;
    margin-left: -35px;
    cursor: pointer;
}

.assitProduct {
    width: $fullScreenWidth;
    margin: 0 auto;
    padding: 30px 0 0;
    li {
        float: left;
        width: 14%;
        text-align: center;
        a {
            display: block;
            padding: 5px 0;
            color: #555
        }
    }
    img {
        border: 0
    }
}

.case {
    margin: 50px auto 20px;
    width: $fullScreenWidth;
    li {
        float: left;
        width: 20%;
        height: 150px;
        display: block;
        text-align: center;
        a {
            position: relative;
            margin: 0 auto;
            padding: 2px;
            border: 1px solid #cccccc;
            display: inline-block;
            color: #fff;
            width: 183px;
            height: 124px;
            display: block;
            overflow: hidden;
            text-align: center;
            span {
                width: 100%;
                display: block;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0);
                filter: alpha(opacity=0);
                position: absolute;
                left: 0;
                bottom: -25px;
                background-color: #000;
                text-align: center;
                transition: all .5s;
            }
            &:hover {
                span {
                    opacity: 1;
                    background-color: rgba(0, 0, 0, 1);
                    filter: alpha(opacity=100);
                    bottom: 0;
                }
                img {
                    opacity: 0.7;
                    filter: alpha(opacity=70);
                }
            }
            img {
                
                border: 1px solid #ffffff;
            }
        }
    }
}

.copartner {
    margin: 0 auto;
    width: $fullScreenWidth;
    height: 512px;
    display: block;
    background: url(../condensate-cecovery/images/corp_logo.jpg) center center no-repeat;
    position: relative;
    top: 200px;
    opacity: 0;
    filter: alpha(opacity=0);
}

#industryNum,
#enterpriseNum {
    font-family: $globalFontFamily;
    font-size: 1.7em;
}

@include minWidth($maxWidth) {
    .container {
        width: $fullScreenWidth;
    }
    .container ul {
        width: $maxWidth;
    }
    .fourthPage {
        width: $fullScreenWidth;
    }
}

@include maxWidth($minWidth) {
    .container {
        width: $minWidth;
    }
    .container ul {
        width: $minWidth;
    }
    .fourthPage {
        width: $maxWidth;
    }
}
