@import "mixin/variables";
@import "mixin/normalize";
@import "mixin/clearfix";
@import "mixin/font-face";
@import "mixin/icon-tab";
@import "mixin/button";
@import "mixin/modal";
@import "mixin/mixin";
@import "mixin/header";
@import "mixin/navbar";
@import "mixin/breadcrumb";
@import "mixin/service";
@import "mixin/productList";
@import "mixin/footer";

.container {
    width: $fullScreenWidth;
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.container ul, .container li {
    list-style-type: none;
}

.container a {
    color: #555
}

.secondPage,
.fourthPage,
.sixthPage {
    background-color: #F2F2F2;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6
}

.fourthPage {
    padding: 50px 0 280px;
    background: url(../condensate-cecovery/images/Staff.png) bottom center no-repeat #EFEFEF
}

h1,
h2 {
    margin: 0.3em 0;
    width: $fullScreenWidth;
    font-family: $fzltxhk;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em
}

.adswords {
    margin: 0 auto;
    padding: 0 0 30px;
    width: $fullScreenWidth;
    line-height: 45px;
    font-size: 1.8em;
    font-family: $fzltxhk;
    text-align: center;
}

.more {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 20px
}

.mainProduct {
    width: $fullScreenWidth;
    margin: 0 auto;
}

.mainProduct li {
    float: left;
    width: 25%;
    text-align: center
}

.mainProduct li a {
    margin: 10px auto;
}

#turnPage {
    position: absolute;
    left: 50%;
    top: 490px;
    margin-left: -35px;
    cursor: pointer;
}

.assitProduct {
    width: $fullScreenWidth;
    margin: 0 auto;
    padding: 30px 0 0
}

.assitProduct li {
    float: left;
    width: 14%;
    text-align: center
}

.assitProduct li a {
    display: block;
    padding: 5px 0;
    color: #555
}

.assitProduct li img {
    border: 0
}

.case {
    margin: 20px auto;
    width: $fullScreenWidth
}

.case li {
    float: left;
    width: 20%;
    height: 150px;
    display: block;
    text-align: center
}

.case li a {
    padding: 2px;
    border: 1px solid #cccccc;
    display: inline-block;
    color: #555;
    &:hover {
    border: 1px solid $linkColor;
    }
}

.case li img {
    border: 1px solid #ffffff
}

.copartner {
    margin: 0 auto;
    width: $fullScreenWidth;
    height: 512px;
    display: block;
    background: url(../condensate-cecovery/images/corp_logo.jpg) center center no-repeat;    
}

.Office {
    margin: 0 auto;
    width: $fullScreenWidth
}

@include minWidth($maxWidth) {
    .container {
        width: $fullScreenWidth
    }
    .container ul {
        width: $maxWidth
    }
}

@include maxWidth($minWidth) {
    .container {
        width: $minWidth
    }
    .container ul {
        width: $minWidth
    }
}