@import "mixin/variables";
@import "mixin/normalize";
@import "mixin/clearfix";
@import "mixin/font-face";
@import "mixin/button";
@import "mixin/modal";
@import "mixin/mixin";
@import "mixin/header";
@import "mixin/navbar";
@import "mixin/slider";
@import "mixin/service";
@import "mixin/productList";
@import "mixin/footer";
.common {
    width: 100%;
    padding: 19px 0;
    border: 1px solid #CCC;
    margin: 0 auto 15px;
    h2 {
        width: 70%;
        float: left;
        margin: 0 20px 10px;
        text-align: left;
    }
    span.more {
        float: right;
        padding: 5px 20px 0;
    }
    ul,
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}

#prodBorad {
    margin: 15px auto 0;
    padding: 0;
    border-bottom: 0;
    li {
        padding: 30px 0;
        float: left;
        width: 24.9%;
        border-right: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        text-align: center;
        &.last {
            border-right: 0;
        }
        a {
            margin: 10px auto;
        }
    }
}

.proList {
    margin: 0 auto;
    border: 1px solid #CCC;
    border-top: 0;
    padding: 19px 0;
    table {
        width: 92%;
        margin: 0 auto;
        line-height: 24px;
        th {
            text-align: left
        }
        td {
            text-align: left
        }
    }
}

#case {
    margin: 15px auto 0;
    ul {
        clear: both;
        li {
            float: left;
            width: 20%;
            height: 165px;
            margin: 0 0 10px;
            overflow: hidden;
            a {
                margin: 10px 0;
                display: block;
                line-height: 24px;
                text-align: center
            }
            &:hover img {
                border: 1px solid #496d02
            }
        }
    }
}

#custom {
    margin: 15px auto 0;
    ul {
        clear: both;
        li {
            float: left;
            width: 25%;
            text-align: center;
            overflow: hidden;
            display: block
        }
    }
}

@include minWidth(1180px) {
    .common {
        width: 1180px
    }
    #specil {
        width: 1180px
    }
    .proList {
        width: 1180px
    }
}

@include maxWidth(1180px) {
    .common {
        width: 940px
    }
    #specil {
        width: 940px
    }
    .proList {
        width: 940px
    }
}
