@import "mixin/variables";
@import "mixin/normalize";
@import "mixin/clearfix";
@import "mixin/button";
@import "mixin/modal";
@import "mixin/mixin";
@import "mixin/header";
@import "mixin/navbar";
@import "mixin/slider";
@import "mixin/service";
@import "mixin/productList";
@import "mixin/footer";
.common {
    width: 100%;
    margin: 0 auto;
    padding: 70px 0;
    border-top: 1px solid #cecece;
    text-align: center;
    h2 {
        margin: 0 20px 10px;
        text-align: center;
    }
    span.more {
        padding: 5px 20px 0;
    }
    ul {
        margin: 30px auto;
        padding: 0;
        width: 1180px;
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    }
}

#prodBorad {
    margin: 0 auto;
    padding: 70px 0 40px;
    border-bottom: 0;
    background-color: #f4f4f4;
    ul {
        margin: 0 auto;
        padding: 0;
        li {
            padding: 0 0 30px;
            float: left;
            width: 24.9%;
            text-align: center;
            &.last {
                border-right: 0;
            }
            a {
                margin: 10px auto;
            }
        }
    }
}

#proList {
    margin: 0 auto;
    table {
        width: 1180px;
        margin: 30px auto 0;
        line-height: 24px;
        th {
            text-align: left
        }
        td {
            text-align: left
        }
    }
}

#case {
    background-color: #4c4c4c;
    a {
        color: #ffffff;
    }
    ul {
        li {
            float: left;
            width: 20%;
            height: 165px;
            margin: 0 0 10px;
            overflow: hidden;
            a {
                margin: 10px 0;
                display: block;
                line-height: 24px;
                text-align: center;
            }
            &:hover img {
                border: 1px solid #fff
            }
        }
    }
}

#custom {
    ul {
        li {
            float: left;
            width: 25%;
            text-align: center;
            overflow: hidden;
            display: block
        }
    }
}

#promise {
    color: #ffffff;
    background-color: #4c4c4c;
    a {
        color: #ffffff;
    }
}

@include minWidth($maxWidth) {
    .common {
        width: $fullScreenWidth;
        ul {
            width: $maxWidth;
        }
    }
    #case {
        width: $fullScreenWidth
    }
    #proList {
        width: $fullScreenWidth;
        table {
            width: $maxWidth;
        }
    }
}

@include maxWidth($maxWidth) {
    .common {
        width: $minWidth;
        ul {
            width: $maxWidth;
        }
    }
    #case {
        width: $minWidth
    }
    #proList {
        width: $minWidth;
        table {
            width: $minWidth
        }
    }
}
