a{text-decoration: none;} /* 链接无下划线,有为underline */ 
a:link {color: #CDE7CD;TEXT-DECORATION: none;} /* 未访问的链接 */
a:visited {color: #CDE7CD;TEXT-DECORATION: none;} /* 已访问的链接 */
a:hover{color: #FFCC00;TEXT-DECORATION: underline;} /* 鼠标在链接上 */ 
a:active {color: #FFCC00;TEXT-DECORATION: underline;} /* 点击激活链接 */
body{
    FONT-FAMILY: "新宋体";
    FONT-SIZE: 12px;
    text-decoration: none;
    line-height: 150%;
    background:#0B8290;
    SCROLLBAR-FACE-COLOR: #016E7B;
    SCROLLBAR-HIGHLIGHT-COLOR: #013D44;
    SCROLLBAR-SHADOW-COLOR: #449AE8;
    SCROLLBAR-3DLIGHT-COLOR: #449AE8;
    SCROLLBAR-ARROW-COLOR: #013D44;
    SCROLLBAR-TRACK-COLOR: #01383E;
    SCROLLBAR-DARKSHADOW-COLOR: #01383E;
    padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
 /* 表单类 */
Button,input,textarea{
    FONT-FAMILY: "Verdana, 新宋体";
    FONT-SIZE: 12px;
	COLOR:#F3F3F3;
    text-decoration: none;
    line-height: 150%;
    background:#037987;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
    border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #013036;
	border-right-color: #013036;
	border-bottom-color: #013036;
	border-left-color: #013036;
	padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
 /* 下拉菜单 */
select{
    FONT-FAMILY: "Verdana, 新宋体";
    FONT-SIZE: 12px;
	COLOR:#CDE7CD;
    text-decoration: none;
    line-height: 22px;
    background:#037987;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width:0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #038291;
	border-right-color: #038291;
	border-bottom-color: #038291;
	border-left-color: #038291;
	padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.xk {
	border: 1px solid #01393F;
	margin-top: 5px;
	margin-bottom: 5px;
	background:#00535D;
}
 /* 定义表CSS */
.table{
	border: 1px solid #013D44;
	margin-top: 5px;
	margin-bottom: 5px;
	background:#087579;
}
 /* 菜单部分定义表CSS  */
.leftframetable{
	border: 1px solid #01393F;
	margin-top: 3px;
	margin-bottom: 3px;
	background:#0B8290;
}
.bt {
	font-size: 12px;
	font-weight: bold;
	color: #EBEBEB;
	text-decoration: none;
}
td {
	color:#B6D8B6;
	font-size:12px;
}
 /* 定义大字体标题CSS  */
.xingmu {
	font-family: "Verdana, 新宋体";
	color:#B0D6B0;
	font-size:12px;
	font-weight:bolder;
	background:#014952;
    line-height: 22px;
}
.back {
	background:#016470;
}
.Leftback {
	background:#024149;
}
.hback {
	background:#076A76;
}
.hback_1 {
	background:#065F68;
}
 /* 框架CSS  */
.bordercolor {
cursor:col-resize;
border-left:none;
border-bottom:none;
border-top:none;
border-right:solid;
border-right-width:5px;
border-right-color:#00535D;
}
 /* 大字体CSS  */
.pagetile {
	font-weight:bolder;
	font-size:20px;
}
.ischeck
{
	color:#FF9900;
}
/*自定义CSS样式一，黄色*/
a.CusCss1.link
{
	color:#FFFFFF;
}
/*自定义CSS样式二,黄蓝*/
.CusCss2
{
	color:#00CCCC;
}
/*自定义CSS样式二,黄白*/
.CusCss3
{
	color:#FFCCCC;
}
.alps {
FONT-SIZE: 9pt; 
FILTER: Glow(Color=#0F42A6, Strength=2) dropshadow(Color=#0F42A6, OffX=2, OffY=1,); 
COLOR: #8AADE9; 
FONT-FAMILY: '宋体'
}
A.top:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #B0D6B0; TEXT-DECORATION: none
}
A.top:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #B0D6B0; TEXT-DECORATION: none
}
A.top:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF9900; TEXT-DECORATION: none
}
A.top:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF9900; TEXT-DECORATION: none
}
A.otherset:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #B0D6B0; TEXT-DECORATION: none
}
A.otherset:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #B0D6B0; TEXT-DECORATION: none
}
A.otherset:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: none
}
A.otherset:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: none
}
.top_user{
    FONT-FAMILY: "新宋体";
    FONT-SIZE: 12px;
	Color:#B6D8B6
}
.menu_left{
    FONT-FAMILY: "新宋体";
    FONT-SIZE: 14px;
	Color:#FFFFFF;
	font-weight:bolder;
}
A.menu_left:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #FFFFFF; TEXT-DECORATION: none;font-weight:bolder;
}
A.menu_left:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #FFFFFFF; TEXT-DECORATION: none;font-weight:bolder;
}
A.menu_left:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #FDFA06; TEXT-DECORATION: none;font-weight:bolder;
}
A.menu_left:active {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #FDFA06; TEXT-DECORATION: none;font-weight:bolder;
}
.tx
{
Color:#FFCC00;
}
.titletx
{
FONT-FAMILY: "新宋体";
Color:#FFCC00;
FONT-SIZE: 25px; 
FONT-WEIGHT: bolder;
}
.top_navi
{
FONT-FAMILY: "新宋体";
Color:#CCFF99;
FONT-SIZE: 12px; 
}
A.top_navi:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #CCFF99; TEXT-DECORATION: none;
}
A.top_navi:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #CCFF99; TEXT-DECORATION: none;
}
A.top_navi:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none;
}
A.top_navi:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none;
}
A.navitx:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #99FF00; TEXT-DECORATION: none;
}
A.navitx:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #99FF00; TEXT-DECORATION: none;
}
A.navitx:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none;
}
A.navitx:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none;
}
.bigtitle
{
FONT-SIZE: 14px; 
}

/*菜单*/
.menuitems {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px; WORD-BREAK: keep-all; PADDING-TOP: 1px
}
.menu_ctr:link {
	COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.menu_ctr:visited {
	COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.menu_ctr:active {
	FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.menu_ctr:hover {
	BACKGROUND-POSITION: 50% bottom; LEFT: 1px; COLOR: #FF9900; BACKGROUND-REPEAT: repeat-x; POSITION: relative; TOP: 1px; BORDER-RIGHT-WIDTH: 1px; TEXT-DECORATION: none
}
.menuskin {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FILTER: Alpha(Opacity=95, FinishOpacity=95, Style=0, StartX=1, StartY=1, FinishX=100, FinishY=100); BACKGROUND-IMAGE: url(../../../images/mbg_1.gif); VISIBILITY: hidden; FONT: 12px Verdana; BORDER-LEFT: #FFFFFF 1px solid; BORDER-BOTTOM: #FFFFFF 1px solid; POSITION: absolute; BACKGROUND-COLOR: #006699
}
.menuskin A {
	PADDING-RIGHT: 6px; PADDING-LEFT: 20px; COLOR: #f7f7f7; TEXT-DECORATION: none
}