a{text-decoration: none;} /* 链接无下划线,有为underline */ 
a:link {color: #BD4C01;} /* 未访问的链接 */
a:visited {color: #BD4C01;} /* 已访问的链接 */
a:hover{color: #EAA441;} /* 鼠标在链接上 */ 
a:active {color: #EAA441;} /* 点击激活链接 */
.nav_l2{text-decoration:none;font-size:14px;color:#FFDED2;height:0;filter:dropshadow(offX=1,offY=1,color=BD3400);}
A.nav_l2:link{text-decoration:none;font-size:14px;color:#FFDED2;height:0;filter:dropshadow(offX=1,offY=1,color=BD3400);}
A.nav_l2:visited{text-decoration:none;font-size:14px;color:#FFDED2;height:0;filter:dropshadow(offX=1,offY=1,color=BD3400);}
A.nav_l2:active{text-decoration:underline;font-size:14px;color:#fff;height:0;filter:dropshadow(offX=1,offY=1,color=#00FF33);}
A.nav_l2:hover{text-decoration:underline;font-size:14px;color:#fff;height:0;filter:dropshadow(offX=1,offY=1,color=#ff0000);}
body{
    FONT-FAMILY: "新宋体";
    FONT-SIZE: 12px;
    text-decoration: none;
    line-height: 150%;
    background:#FFFFFF;
    SCROLLBAR-FACE-COLOR: #613F00;
    SCROLLBAR-HIGHLIGHT-COLOR: #613F00;
    SCROLLBAR-SHADOW-COLOR: #FFFFFF;
    SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
    SCROLLBAR-ARROW-COLOR: #FFFFFF;
    SCROLLBAR-TRACK-COLOR: #613F00;
    SCROLLBAR-DARKSHADOW-COLOR: #FFFFFFF;
    padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
 /* 表单类 */
Button,input,textarea{
    FONT-FAMILY: "宋体";
    FONT-SIZE: 12px;
	COLOR:#444444;
    text-decoration: none;
    background:#FDF6E6;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	/*border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #013036;
	border-right-color: #013036;
	border-bottom-color: #013036;
	border-left-color: #013036;*/
	padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
 /* 下拉菜单 */
select{
    FONT-FAMILY: "Verdana, 新宋体";
    FONT-SIZE: 12px;
	COLOR:#444444;
    text-decoration: none;
    background:#FDF6E6;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width:0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #038291;
	border-right-color: #038291;
	border-bottom-color: #038291;
	border-left-color: #038291;
	padding:0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.xk {
	border: 1px solid #000000;
	margin-top: 5px;
	margin-bottom: 5px;
	background:#EDD9AB;
}
 /* 定义表CSS */
.table{
	border: 1px solid #6E4000;
	margin-top: 5px;
	margin-bottom: 5px;
	background:#F9C486;
}
 /* 菜单部分定义表CSS  */
.leftframetable{
	border: 1px solid #4C3500;
	margin-top: 3px;
	margin-bottom: 3px;
	background:#FDF6E6;
}
.bt {
	font-size: 12px;
	font-weight: bold;
	color: #EBEBEB;
	text-decoration: none;
}
td {
	color:#BD4C01;
	font-size:12px;
    line-height: 18px;
}
 /* 定义大字体标题CSS  */
.xingmu {
	font-family: "Verdana, 新宋体";
	color:#FFCC99;
	font-size:12px;
	font-weight:bolder;
	background:#613F00;
    line-height: 22px;
}
.titledaohang {
	FONT-SIZE: 12px; 
	FILTER: Glow(Color=#EDD2C6, Strength=1) dropshadow(Color=#EDD2C6, OffX=1, OffY=1,); 
	COLOR: #551C02; 
	font-weight:bolder;
	FONT-FAMILY: '宋体'
}
A.admintx:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #551C02; TEXT-DECORATION: none;font-weight:bolder;
}
A.admintx:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #551C02; TEXT-DECORATION: none;font-weight:bolder;
}
A.admintx:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: none;font-weight:bolder;
}
A.admintx:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: none;font-weight:bolder;
}
.back {
	background:#016470;
}
.Leftback {
	background:#865802;
}
.hback {
	background:#FDF6E6;
}
.hback_1 {
	background:#FCF0D3;
}
 /* 框架CSS  */
.bordercolor {
cursor:col-resize;
border-left:none;
border-bottom:none;
border-top:none;
border-right:solid;
border-right-width:3px;
border-right-color:#FFFFFF;
}
 /* 大字体CSS  */
.pagetile {
	font-weight:bolder;
	font-size:20px;
}
.ischeck
{
	color:#FF9900;
}
/*自定义CSS样式一，黄色*/
.CusCss1
{
	color:#FFFF00;
}
/*自定义CSS样式二,黄蓝*/
.CusCss2
{
	color:#00CCCC;
}
/*自定义CSS样式二,黄白*/
.CusCss3
{
	color:#FFCCCC;
}
.alps {
FONT-SIZE: 9pt; 
FILTER: Glow(Color=#0F42A6, Strength=2) dropshadow(Color=#0F42A6, OffX=2, OffY=1,); 
COLOR: #8AADE9; 
FONT-FAMILY: '宋体'
}
A.top:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FFCC99; TEXT-DECORATION: none
}
A.top:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FFCC99; TEXT-DECORATION: none
}
A.top:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.top:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FFFFFFF; TEXT-DECORATION: none
}
A.otherset:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.otherset:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.otherset:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: none
}
A.otherset:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: none
}
.tx
{
Color:red
}
A.sd:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #BD4C01; TEXT-DECORATION: none
}
A.sd:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #BD4C01; TEXT-DECORATION: none
}
A.sd:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FFFFFF; TEXT-DECORATION: none
}
A.sd:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #FFFFFF; TEXT-DECORATION: none
}
.RightInput{
	font-size:12px
	border-bottom:solid;
	border-bottom-color:#6FBE44;
	border-bottom-width:1;
	border-left:solid;
	border-left-color:#6FBE44;
	border-left-width:1;
	border-right:solid;
	border-right-color:#6FBE44;
	border-right-width:1;
	border-top:solid;
	border-top-color:#6FBE44;
	border-top-width:1;
}
.WarnInput{
	font-size:12px
	border-bottom:solid;
	border-bottom-color:#FF0000;
	border-bottom-width:1;
	border-left:solid;
	border-left-color:#FF0000;
	border-left-width:1;
	border-right:solid;
	border-right-color:#FF0000;
	border-right-width:1;
	border-top:solid;
	border-top-color:#FF0000;
	border-top-width:1;
}