 BODY   {border: 0; margin: 0; cursor: default; background: buttonface;font-family:ו; font-size:12pt;}
 BUTTON {width:5em}
 TABLE  {font-family:ו; font-size:12pt}
 td  {font-family:ו; font-size:12px}
 P      {text-align:center}
