.btn {
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #496d02;
    background-color: transparent;
    font-weight: bold;
    color: #3f7500;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    i {
        color: #999999;
    }
    &:hover {
        background-color: #3f7500;
        color: #FFF;
        i {
            color: #ffffff;
        }
    }
}

.btn-sm {
    padding: 0.6em 1.6em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 1em;
}

.btn-md {
    padding: 0.8em 1.8em;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 1.1em;
}

.btn-lg {
    padding: 1em 2em;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-size: 1.2em;
}