#header {
    width: 1180px;
    margin: 0 auto;
}

#header ul,
#header li,
{
    list-style-type: none;
    margin: 0;
    padding: 0
}

#header ul {
    margin: 5px auto 0;
    height: 110px;
    width: 1180px;
}

#header li {
    float: left;
    display: block;
}

#header li.logo {
    margin: 15px 0 0
}

#header li.headflash {
    width: 300px;
    height: 62px;
    display: block;
    text-align: left;
    margin: 20px 0 0 10px;
    border-left: 1px solid #888;
    padding-left: 10px;
    span {
        font-size: 2em;
        display: block;
        font-weight: bold;
        margin: -6px 0 0;
    }
    strong {
        display: block;
        font-weight: normal;
        line-height: 20px;
        height: 20px;
        a {
            color: #C00;
        }
    }
}

#header li.hotline {
    float: right;
    margin: 25px 0 0;
    display: block;
    width: 280px;
    height: 56px;
    background: url(../images/sprite.png) -60px 0 no-repeat;
    text-indent: -9999px
}

@include minWidth($maxWidth) {
    #header {
        width: $fullScreenWidth
    }
    #header ul {
        width: $maxWidth
    }
}

@include maxWidth($maxWidth) {
    #header {
        width: $minWidth;
    }
    #header ul {
        width: $minWidth;
    }
}
