#navigate {
  height: 48px;
  background: $navBgcolor; /*url(../images/sprite.png) 0 -253px repeat-x*/
  z-index: 100;
  margin: 0 auto;
  width: 100%
}

#navigate ul {
  overflow: hidden;
  margin: 0 auto
}

#navigate ul li {
  float: left;
  text-align: center;
  width: 10%;
  height: 48px;
  position: relative;
  list-style: none;
  line-height: 48px;
  font-size: 18px;
}

#navigate ul li a {
  display: block;
  color: #FFF;
  text-decoration: none
}

#navigate ul li a:hover {
  background: $hoverNavBgcolor;
  color: #FFF;
  display: block
}

@include minWidth($maxWidth) {
  #navigate {
    width: 100%
  }
}

@include maxWidth($maxWidth) {
  #navigate {
    width: $minWidth;
  }
}

@include minWidth($maxWidth) {
  #navigate ul {
    width: $maxWidth
  }
}

@include maxWidth($maxWidth) {
  #navigate ul {
    width: $minWidth;
  }
}

#home #navigate li.home {
  background: $hoverNavBgcolor;

  a {
    color: #FFF;/*url(../images/sprite.png) 0 -296px repeat-x*/
  }

}

#about #navigate li.about {
  background: $hoverNavBgcolor;
  a{
    color:#FFF;/*url(../images/sprite.png) 0 -296px repeat-x*/
  }

}

#contact #navigate li.contact {
  background: $hoverNavBgcolor;
  a {
    color:#FFF;/*url(../images/sprite.png) 0 -296px repeat-x*/
  }

}

#product #navigate li.product {
  background: $hoverNavBgcolor;
  a{
    color:#FFF;/*url(../images/sprite.png) 0 -296px repeat-x*/
  }  }

#condensate #navigate li.condensate {
  background: $hoverNavBgcolor;
  a{
    color:#FFF;/*url(../images/sprite.png) 0 -296px repeat-x*/
  }

}

#deaerator #navigate li.deaerator {
  background: $hoverNavBgcolor;
  a{
    color:#FFF;/*url(../images/sprite.png) 0 -296px repeat-x*/
  }

}

#polishing #navigate li.polishing {
  background: $hoverNavBgcolor;
  a{
    color:#FFF;/*url(../images/sprite.png) 0 -296px repeat-x*/
  }

}
#boiler #navigate li.boiler {
  background: $hoverNavBgcolor;
  a{
    color:#FFF;/*url(../images/sprite.png) 0 -210px repeat-x*/
  }

}

#exchanger #navigate li.exchanger {
  background: $hoverNavBgcolor;
  a{
    color:#FFF;/*url(../images/sprite.png) 0 -210px repeat-x*/
  }

}

#soften #navigate li.soften {
  background: $hoverNavBgcolor;
  a{
    color:#FFF;/*url(../images/sprite.png) 0 -296px repeat-x*/
  }

}

#custom #topnav li.custom {
  background: $hoverNavBgcolor;
  a{
    color:#FFF;/*url(../images/sprite.png) 0 -210px repeat-x*/
  }
}