#navigate {
    height: 50px;
    background: $themeColor;
    z-index: 100;
    margin: 0 auto;
    width: 100%
}

#navigate ul,
#navigate li,
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

#navigate ul {
    margin: 0 auto
}

#navigate ul li {
    float: left;
    text-align: center;
    width: 10%;
    height: 50px;
    a {
        line-height: 50px;
        font-size: 18px;
        display: block;
        color: #FFF;
        text-decoration: none
    }
    &:hover {
        background: $themeColorDeep;
    }
}

@include minWidth($maxWidth) {
    #navigate {
        width: $fullScreenWidth;
    }
}

@include maxWidth($maxWidth) {
    #navigate {
        width: $minWidth;
    }
}

@include minWidth($maxWidth) {
    #navigate ul {
        width: $maxWidth
    }
}

@include maxWidth($maxWidth) {
    #navigate ul {
        width: $minWidth;
    }
}

#home #navigate li.home {
    background: $themeColorDeep;
}

#about #navigate li.about {
    background: $themeColorDeep;
}

#contact #navigate li.contact {
    background: $themeColorDeep;
}

#product #navigate li.product {
    background: $themeColorDeep;
}

#condensate #navigate li.condensate {
    background: $themeColorDeep;
}

#deaerator #navigate li.deaerator {
    background: $themeColorDeep;
}

#polishing #navigate li.polishing {
    background: $themeColorDeep;
}

#boiler #navigate li.boiler {
    background: $themeColorDeep;
}

#exchanger #navigate li.exchanger {
    background: $themeColorDeep;
}

#soften #navigate li.soften {
    background: $themeColorDeep;
}

#custom #topnav li.custom {
    background: $themeColorDeep;
}
