@import "response";

html, body, h1, h2, h3, h4, h5, h6, p, b, strong, i, em, blockquote, pre, span, dl, dt, dd, a, table, tr, td, div, img, form, input, ul, ol, li, strong {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 100%;
}

body {
  font-family: $headingFontFamily;
  font-size: 1em;
  color: $contentFontColor;
  font-style: normal;
  font-weight: normal
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  color: #333333;
  font-style: normal;
  font-weight: normal;
}

@include minWidth(1180px) {
  body {
    font-size: 1em
  }
}

@include maxWidth(1180px) {
  body {
    font-size: 0.875em
  }
}

a {
  color: $headingFontColor
}

a:link, a:visited {
  text-decoration: none
}

a:hover, a:active {
  text-decoration: underline
}

p {
  line-height: 25px;
  text-align: left;
  color: $contentFontColor
}

img {
  border: 0
}