#promise {
    width: 1180px;
    height: 350px;
    margin: 0 auto;
    padding: 60px 0;
    border: 1px solid #CCC;
    text-align: center;
    background: url(../condensate-cecovery/images/Staff.png) 50% 100% no-repeat #FFF;
    font-size: 1em;
    p {
        margin: 0;
        line-height: 1.3em;
        font-size: 2em;
        text-align: center
    }
    span {
        color: #C00;
        font-style: italic;
        margin: 10px 0;
        vertical-align: middle
    }
}

@include minWidth ($maxWidth) {
    #promise {
        width: $fullScreenWidth
    }
}

@include maxWidth ($maxWidth) {
    #promise {
        width: $minWidth;
        font-size: 0.9em;
    }
}