$headingFontFamily : arial,'Microsoft Yahei','Hiragino Sans GB',sans-serif;
$contentFontFamily : SimSun, 'Times New Roman', 'Times', 'serif';
$specialHeadingFontFamily: 'FZLTXHK';
$specialKeywordFontFamily: 'FZLTXHK';
$headingFontColor : #496d02;
$contentFontColor : #333;
$linkColor : #496d02;