$globalFontFamily: arial, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
$fzltxhk: 'FZLTXHK';
$fzltxhk: 'FZLTXHK';

$headingFontColor: #333;
$contentFontColor: #555;
$linkColor: #496d02;

$navBgcolor: #3f7500;
$hoverNavBgcolor: #294b00;

$fullScreenWidth: 100%;
$maxWidth: 1180px;
$minWidth: 940px;
