$globalFontFamily: arial, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
$fzltxhk: 'FZLTXHK';
$fzltxhk: 'FZLTXHK';

$themeColor: #3f7500;
$themeColorDeep: #294b00;

$headingFontColor: #333;
$contentFontColor: #555;
$linkColor: #3f7500;

$fullScreenWidth: 100%;
$maxWidth: 1180px;
$minWidth: 940px;
